<h3 class="ui center aligned icon header">
  <i class="circular green paper plane icon"></i>
  Say something!
</h3>

<div class="ui two column grid">

  <div class="ui twelve wide column">
    <div class="ui fluid raised card chatbox">

      <div class="content" id="messages" >
        <div class="ui feed" id="message-container">
          <%= render @messages %>
        </div>
      </div>

      <div class="extra content">
        <%= form_for(@message, html: 
        {class: "ui reply form", 
        role: "form"}, 
        url: message_path, remote: true ) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body, placeholder: "Type your message...", autofocus: true %>
              <%= f.button class: "ui green icon button" do %>
                <i class="edit icon"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" style="overflow-y: auto;">

        <%= turbo_stream_from "user_status" %>

        <h4 class="ui header"><i class="green circle icon"></i> Online</h4>
        <div class="ui middle aligned selection list" id="users_online">
          <% @users.each do |user| %>
            <% if user.online? %>
              <%= render "users/user_status", user: user %>
            <% end %>
          <% end %>
        </div>

        <div class="ui divider"></div>

        <h4 class="ui header"><i class="grey circle icon"></i> Offline</h4>
        <div class="ui middle aligned selection list" id="users_offline">
          <% @users.each do |user| %>
            <% if !user.online? %>
              <%= render "users/user_status", user: user %>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>